/*  ----------- GERAL ----------- */

body, html{
    width: 100%;
    /* height: 100%;      */
    background-color: #f37878;   
}

header{
    display: flex;
    justify-content: center;
    
    margin-top: 20vw;
    margin-bottom: 3vw;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}

.window{
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    
    background-color: #f7ae53;

    width: 45vw;    
    padding: 2.5vw 0vw;

    border-radius: 8px;
}

button{
    display:inline;        
    
    color: #fff;
    background: #f37878;
    
    margin: 1vw 0vw;
    
    border: none;
    border-radius: 5px;
    border-color: #F2fbf9;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.485));

    padding: 5px;

    transition: 0.5s ease-in;
}

button:hover{
    background: rgb(243, 86, 83);
    filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.485));
}

#btnMean{
    margin-left: 5px;
}

h1,
label,
button {
    color: #F2fbf9;    
    font-family: 'Comfortaa', cursive;    
}

label{
    font-weight: bold;
}

#label{
    margin-left: 7px;
}

h1{
    font-size:xx-large;
}

input, textarea{
    border: none;
    border-radius: 3px;

    margin-right: 0.5vw;
}

textarea{
    border: none;
    border-radius: 3px;

    margin-left: 5px;
}
